@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";

[contenteditable=true]:empty:before {
    content: attr(placeholder);
    display: block;
    color: #aaa;
}

.MuiSlider-thumb:focus, .MuiSlider-thumbColorPrimary:focus, .MuiSlider-thumbColorPrimary, .MuiSlider-thumb, .MuiSlider-thumb:hover, .MuiSlider-thumb.Mui-focusVisible{
    outline-style: none;
    outline-color: none;
    -webkit-tap-highlight-color: none;
    box-shadow: none;
    transition: none;
    outline: none;
}

#forgotPword:hover{
    color: #8c8c8c;
}
#cardBtn:hover{
    background-color: #737373;
}

#cardBtn{
    background-color: #e7e7e7;
}

@media screen and (min-width: 666px) {
    #innerCardContainer {
        height: 240px
    }
    #imageContainerEB {
        max-height: 35rem;
    }
    #cardSize{
        width: 430px;
        height: 600px;
    }
}

@media screen and (min-width: 450px) and (max-width:666px) {
    #imageContainerEB {
        max-height: 45rem;
    }
}

@media screen and (max-width: 450px) {
    #imageContainerEB {
        max-height: 55rem;
    }
}

@media screen and (max-width: 666px){
    #innerCardContainer {
        height: 300px;
    }
    #cardSize{
        min-width: 90vw;
        max-width: 90vw;
        min-height: 80vh;
    }
}

@media screen and (min-width: 866px) {
    #footerBreakpointBtn{
        display: none;
    }
    #footerBreakpointText{
        display: block;
    }
    #footer{
        background-color: #e7e7e7;
        justify-content: space-between;
    }
}

@media screen and (max-width: 866px) {
    #footerBreakpointBtn{
        display: block;
    }
    #footerBreakpointText{
        display: none;
    }
    #footer{
        background-color: white;
        justify-content: center;
    }   
}

@media screen and (min-width: 990px) {
    #eventPgDiv{
        display: grid;
        grid-template-columns: repeat(5, minmax(0, 1fr));
    }
}

@media screen and (min-width: 1200px) {
    #threeToFourArrow{
        top: 73%;
        left: 28%;
    }
}

@media screen and (max-width: 1200px) {
    #threeToFourArrow{
        top: 73%;
        left: 22%;
    }
    #lineBreakTwo{
        margin-top: 4rem;
    }
}


@media screen and (min-width: 1063px) {
    #threeToFourArrow{
        top: 73%;
        left: 22%;
    }
    #lineBreakTwo{
        margin-top: 5rem;
    }
}

@media screen and (max-width: 970px) {
    #threeToFourArrow{
        top: 78%;
        left: 18%;
    }
    #lineBreakTwo{
        margin-top: 6rem;
    }
}

@media screen and (min-width: 900px) {
    #threeToFourArrow{
        top: 73%;
        left: 31%;
    }
    #lineBreakTwo{
        margin-top: 6rem;
    }
}
