@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";

[contenteditable=true]:empty:before {
    content: attr(placeholder);
    display: block;
    color: #aaa;
}

.MuiSlider-thumb:focus, .MuiSlider-thumbColorPrimary:focus, .MuiSlider-thumbColorPrimary, .MuiSlider-thumb, .MuiSlider-thumb:hover, .MuiSlider-thumb.Mui-focusVisible{
    outline-style: none;
    outline-color: none;
    -webkit-tap-highlight-color: none;
    box-shadow: none;
    transition: none;
    outline: none;
}
@media screen and (min-width: 666px) {
    #innerCardContainer {
        height: 200px
    }
    #imageContainerEB {
        height: 30rem;
    }
    #cardSize{
        width: 430px;
        height: 600px;
    }
}

@media screen and (max-width: 666px){
    #imageContainerEB {
        height: ""
    }
    #innerCardContainer {
        height: 200px;
    }
    #cardSize{
        min-width: 80vw;
        max-width: 90vw;
        min-height: 80vh;
    }
}
