.rcard-enter {
    transform: translateX(100%);
}

.rcard-enter-active {
    transform: translateX(0%);
    transition: transform 0.5s ease;
}

.rcard-exit {
    transform: translateX(0%);
}

.rcard-exit-active {
    transform: translateX(100%);
    transition: transform 0.5s ease;
}

.lcard-enter {
    transform: translateX(-100%);
}

.lcard-enter-active {
    transform: translateX(0%);
    transition: transform 0.5s ease;
}

.lcard-exit {
    transform: translateX(0%);
}

.lcard-exit-active {
    transform: translateX(-100%);
    transition: transform 0.5s ease;
}

.grey-out-enter {
    opacity: 0;
}

.grey-out-enter-active {
    opacity: 1;
    transition: opacity 0.2s ease;
}

.grey-out-exit {
    opacity: 1;
}

.grey-out-exit-active {
    opacity: 0;
    transition: opacity 0.2s ease;
}

.eventbuilder-modal-enter {
    transform: translateY(-100%);
}

.eventbuilder-modal-enter-active {
    transform: translateY(0%);
    transition: transform 0.4s ease;
}

.eventbuilder-modal-exit {
    transform: translateY(0%);
}

.eventbuilder-modal-exit-active {
    transform: translateY(-100%);
    transition: transform 0.4s ease;
}
